version: "3.9"

services:

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

  fastapi:
    image: tiangolo/uvicorn-gunicorn-fastapi:python3.11
    container_name: fastapi
    volumes:
      - ./backend:/app
    ports:
      - "8000:80"  # maps FastAPI container port 80 to localhost 8000
    depends_on:
      - mongodb
      - minio

volumes:
  mongo-data:
  minio-data:
