name: Backend CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build backend
      run: mvn clean package

    - name: Build Docker image
      run: docker build -t backend-app .

    - name: Run container
      run: |
        docker stop backend || true
        docker run -d -p 8080:8080 --name backend backend-app
